{% load static %}
<div class="app-header navbar-md black box-shadow-z1">
    <div class="navbar" data-pjax>
        <a data-toggle="collapse" data-target="#navbar" class="navbar-item pull-right hidden-md-up m-r-0 m-l">
            <i class="material-icons">menu</i>
        </a>
        <a href="{% url 'home_page' %}" class="navbar-brand md">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="32" height="32">
                <circle cx="24" cy="24" r="24" fill="rgba(255,255,255,0.2)"/>
                <circle cx="24" cy="24" r="22" fill="#1c202b" class="brand-color"/>
                <circle cx="24" cy="24" r="10" fill="#ffffff"/>
                <circle cx="13" cy="13" r="2"  fill="#ffffff" class="brand-animate"/>
                <path d="M 14 24 L 24 24 L 14 44 Z" fill="#FFFFFF" />
                <circle cx="24" cy="24" r="3" fill="#000000"/>
            </svg>
        
            <img src="{% static 'images/logo.png' %}" alt="." class="hide">
            <span class="hidden-folded inline">pulse</span>
        </a>
        <ul class="nav navbar-nav pull-right">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'signout_page' %}" class="nav-link">
                    <span class="btn btn-sm rounded primary _600">
                    Signout
                    </span>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'signup_page' %}" class="nav-link">
                    Signup
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'signin_page' %}" class="nav-link">
                    <span class="btn btn-sm rounded primary _600">
                    Signin
                    </span>
                </a>
            </li>
            {% endif %}
        </ul>
        <div class="collapse navbar-toggleable-sm l-h-0 text-center" id="navbar">
            <ul class="nav navbar-nav nav-md inline text-primary-hover">
            <li class="nav-item">
                <a href="{% url 'discover_page' %}" class="nav-link">
                <span class="nav-text">Discover</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'browse_page' %}" class="nav-link">
                <span class="nav-text">Browse</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'charts_page' %}" class="nav-link">
                <span class="nav-text">Charts</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'artists_page' %}" class="nav-link">
                <span class="nav-text">Artists</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'profile_page' %}" class="nav-link">
                <span class="nav-text">Profile</span>
                </a>
            </li>
            </ul>
        </div>
    </div>
</div>