{% load static %}
<div id="aside" class="app-aside modal fade nav-dropdown">
    <!-- fluid app aside -->
    <div class="left navside grey dk" data-layout="column">
      <div class="navbar no-radius">
        <!-- brand -->
        <a href="{% url 'home_page' %}" class="navbar-brand md">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="32" height="32">
            <circle cx="24" cy="24" r="24" fill="rgba(255,255,255,0.2)"/>
            <circle cx="24" cy="24" r="22" fill="#1c202b" class="brand-color"/>
            <circle cx="24" cy="24" r="10" fill="#ffffff"/>
            <circle cx="13" cy="13" r="2"  fill="#ffffff" class="brand-animate"/>
            <path d="M 14 24 L 24 24 L 14 44 Z" fill="#FFFFFF" />
            <circle cx="24" cy="24" r="3" fill="#000000"/>
          </svg>
        
          <img src="{% static 'images/logo.png' %}" alt="." class="hide">
          <span class="hidden-folded inline">pulse</span>
        </a>
        <!-- / brand -->
      </div>
      <div data-flex class="hide-scroll">
          <nav class="scroll nav-stacked nav-active-primary">
            
            <ul class="nav" data-ui-nav>
              <li class="nav-header hidden-folded">
                <span class="text-xs text-muted">Main</span>
              </li>
              <li>
                <a href="{% url 'discover_page' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      play_circle_outline
                    </i>
                  </span>
                  <span class="nav-text">Discover</span>
                </a>
              </li>
              <li>
                <a href="{% url 'browse_page' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      sort
                    </i>
                  </span>
                  <span class="nav-text">Browse</span>
                </a>
              </li>
              <li>
                <a href="{% url 'charts_page' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      trending_up
                    </i>
                  </span>
                  <span class="nav-text">Charts</span>
                </a>
              </li>
              <li>
                <a href="{% url 'artists_page' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      portrait
                    </i>
                  </span>
                  <span class="nav-text">Artist</span>
                </a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#search-modal">
                  <span class="nav-icon">
                    <i class="material-icons">
                      search
                    </i>
                  </span>
                  <span class="nav-text">Search</span>
                </a>
              </li>
              

              <li class="nav-header hidden-folded m-t">
                <span class="text-xs text-muted">Your collection</span>
              </li>
              {% if user.is_authenticated %}
              <li>
                <a href="{% url 'profile_page' %}#tracks">
                  <span class="nav-label">
                    <b class="label">8</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">
                      list
                    </i>
                  </span>
                  <span class="nav-text">Tracks</span>
                </a>
              </li>
              <li>
                <a href="{% url 'profile_page' %}#playlists">
                  <span class="nav-icon">
                    <i class="material-icons">
                      queue_music
                    </i>
                  </span>
                  <span class="nav-text">Playlists</span>
                </a>
              </li>
              <li>
                <a href="{% url 'profile_page' %}#likes">
                  <span class="nav-icon">
                    <i class="material-icons">
                      favorite_border
                    </i>
                  </span>
                  <span class="nav-text">Likes</span>
                </a>
              </li>
              <li>
                <a href="{% url 'profile_page' %}#profile">
                  <span class="nav-icon">
                    <i class="material-icons">
                      profile
                    </i>
                  </span>
                  <span class="nav-text">Profile</span>
                </a>
              </li>
              {% else %}
              <li>
                <a href="{% url 'signin_page' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      profile
                    </i>
                  </span>
                  <span class="nav-text">Signin</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
      </div>
    </div>
</div>