{% load likes_song %}

{% is_liked song_post_id as is_liked_bool %}
{% count_likes song_post_id as likes_counter %}

{% if is_liked_bool %}
    {% song_likes_id song_post_id as song_likes_id %}
{% endif %}

<form action="{% if not is_liked_bool %}{% url 'likes:add' %}{% else %}{% url 'likes:remove' %}{% endif %}" method="POST">{% csrf_token %}
    <input type="hidden" name="song_post_id" value="{{ song_post_id }}">
    <input type="hidden" name="user_id" value="{% if user.is_authenticated %}{{ request.user.id }}{% else %}None{% endif %}">
    <input type="hidden" name="url_form" value="{{ request.path }}">

    {% if is_liked_bool %}
        <input type="hidden" name="song_likes_id" value="{{ song_likes_id }}">
    {% endif %}
    <button type="submit">
        {% if not is_liked_bool %}
            <i class="fa fa-heart text-muted"></i>
        {% else %}
            <i class="fa fa-heart text-muted"></i>
        {% endif %}
        <span class="likes-qtu"></span>{{ likes_counter }}</span>
    </button>
</form>