<a href="#" class="btn btn-xs white" data-toggle="modal" data-target="#delete-modal-song{{song_post_id}}">Delete</a>
<div id="delete-modal-song{{song_post_id}}" class="modal fade animate black-overlay" data-backdrop="false">
    <div class="row-col h-v">
        <div class="row-cell v-m">
            <div class="modal-dialog modal-sm">
                <div class="modal-content flip-y">
                    <form action="{% url 'delete_song_page' %}" method="POST">{% csrf_token %}
                        <input type="hidden" name="song_post_id" value="{{ song_post_id }}">
                        <input type="hidden" name="url_form" value="{{ request.path }}">

                        <div class="modal-footer">
                            <div>Are you sure?</div>
                            <button type="submit" class="btn green p-x-md">Delete</button>
                            <button type="submit" class="btn red p-x-md" data-dismiss="modal">Close</button>
                        </div>                   
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>