<div class="app-body" id="view">
    <div class="pos-rlt">
      <div class="page-bg" data-stellar-ratio="2" style="background-image: url('images/b5.jpg');"></div>
    </div>
    <div class="page-content">
      <div class="padding b-b">
        <div class="row-col">
            <div class="col-sm w w-auto-xs m-b">
              <div class="item w rounded">
                <div class="item-media">
                  <div class="item-media-content" style="background-image: url('images/b5.jpg');"></div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="p-l-md no-padding-xs">
                <div class="page-title">
                  <h1 class="inline">{{ artist_detail.username }}</h1>
                  <label class="fa fa-star text-primary text-lg m-b v-m m-l-xs" title="Pro"></label>
                </div>
                <div class="item-action m-b">
                  <a class="btn btn-icon white rounded btn-share pull-right" data-toggle="modal" data-target="#share-modal"><i class="fa fa-share-alt"></i></a>
                  <span>{{ albums_count }} Albums, {{ songs_count }} Tracks</span>
                </div>
                <div class="block clearfix m-b">
                    {% for genre in genres_set %}
                        <a class="btn btn-xs rounded white">{{ genre }}</a>
                    {% endfor %}
                </div>
              </div>
            </div>
        </div>
      </div>    
      <div class="row-col">
        <div class="col-lg-9 b-r no-border-md">
          <div class="padding">
            <div class="nav-active-border b-primary bottom m-b-md">
              <ul class="nav l-h-2x">
                <li class="nav-item m-r inline">
                  <a class="nav-link active" href="#" data-toggle="tab" data-target="#tab_1">Overview</a>
                </li>
                <li class="nav-item m-r inline">
                  <a class="nav-link" href="#" data-toggle="tab" data-target="#tab_2">Tracks</a>
                </li>
                <li class="nav-item m-r inline">
                  <a class="nav-link" href="#" data-toggle="tab" data-target="#tab_3">Profile</a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <h5 class="m-b">Popular</h5>
                <div class="row item-list item-list-md item-list-li m-b" id="tracks">
                      <div class="col-md-12 col-lg-6">
                          <div class="item r" data-id="item-2" data-src="http://api.soundcloud.com/tracks/259445397/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                              <div class="item-media ">
                                  <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b1.jpg');"></a>
                                  <div class="item-overlay center">
                                      <button  class="btn-playpause">Play</button>
                                  </div>
                              </div>
                              <div class="item-info">
                                  <div class="item-overlay bottom text-right">
                                      <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                      <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                      <div class="dropdown-menu pull-right black lt"></div>
                                  </div>
                                  <div class="item-title text-ellipsis">
                                      <a href="track.detail.html">Fireworks</a>
                                  </div>
                                  <div class="item-author text-sm text-ellipsis hide">
                                      <a href="artist.detail.html" class="text-muted">Kygo</a>
                                  </div>
                                  <div class="item-meta text-sm text-muted">
                                    <span class="item-meta-stats text-xs ">
                                        <i class="fa fa-play text-muted"></i> 30 
                                        <i class="fa fa-heart m-l-sm text-muted"></i> 10
                                    </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-12 col-lg-6">
                          <div class="item r" data-id="item-11" data-src="http://api.soundcloud.com/tracks/218060449/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                              <div class="item-media ">
                                  <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b10.jpg');"></a>
                                  <div class="item-overlay center">
                                      <button  class="btn-playpause">Play</button>
                                  </div>
                              </div>
                              <div class="item-info">
                                  <div class="item-overlay bottom text-right">
                                      <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                      <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                      <div class="dropdown-menu pull-right black lt"></div>
                                  </div>
                                  <div class="item-title text-ellipsis">
                                      <a href="track.detail.html">Spring</a>
                                  </div>
                                  <div class="item-author text-sm text-ellipsis hide">
                                      <a href="artist.detail.html" class="text-muted">Pablo Nouvelle</a>
                                  </div>
                                  <div class="item-meta text-sm text-muted">
                                    <span class="item-meta-stats text-xs ">
                                        <i class="fa fa-play text-muted"></i> 4500 
                                        <i class="fa fa-heart m-l-sm text-muted"></i> 2310
                                    </span>
                                  </div>
                  
                  
                              </div>
                          </div>
                      </div>
                      <div class="col-md-12 col-lg-6">
                          <div class="item r" data-id="item-1" data-src="http://api.soundcloud.com/tracks/269944843/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                              <div class="item-media ">
                                  <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b0.jpg');"></a>
                                  <div class="item-overlay center">
                                      <button  class="btn-playpause">Play</button>
                                  </div>
                              </div>
                              <div class="item-info">
                                  <div class="item-overlay bottom text-right">
                                      <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                      <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                      <div class="dropdown-menu pull-right black lt"></div>
                                  </div>
                                  <div class="item-title text-ellipsis">
                                      <a href="track.detail.html">Pull Up</a>
                                  </div>
                                  <div class="item-author text-sm text-ellipsis hide">
                                      <a href="artist.detail.html" class="text-muted">Summerella</a>
                                  </div>
                                  <div class="item-meta text-sm text-muted">
                                    <span class="item-meta-stats text-xs ">
                                        <i class="fa fa-play text-muted"></i> 3200 
                                        <i class="fa fa-heart m-l-sm text-muted"></i> 210
                                    </span>
                                  </div>
                  
                  
                              </div>
                          </div>
                      </div>
                      <div class="col-md-12 col-lg-6">
                          <div class="item r" data-id="item-6" data-src="http://api.soundcloud.com/tracks/236107824/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                              <div class="item-media ">
                                  <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b5.jpg');"></a>
                                  <div class="item-overlay center">
                                      <button  class="btn-playpause">Play</button>
                                  </div>
                              </div>
                              <div class="item-info">
                                  <div class="item-overlay bottom text-right">
                                      <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                      <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                      <div class="dropdown-menu pull-right black lt"></div>
                                  </div>
                                  <div class="item-title text-ellipsis">
                                      <a href="track.detail.html">Body on me</a>
                                  </div>
                                  <div class="item-author text-sm text-ellipsis hide">
                                      <a href="artist.detail.html" class="text-muted">Rita Ora</a>
                                  </div>
                                  <div class="item-meta text-sm text-muted">
                                    <span class="item-meta-stats text-xs ">
                                        <i class="fa fa-play text-muted"></i> 330 
                                        <i class="fa fa-heart m-l-sm text-muted"></i> 220
                                    </span>
                                  </div>
                  
                  
                              </div>
                          </div>
                      </div>
                </div>
                <h5 class="m-b">Albums</h5>
                <div class="row m-b">
                    {% if albums_detail %}
                        {% for album in albums_detail %}
                            <div class="col-xs-4 col-sm-4 col-md-3">
                                <div class="item-media ">
                                    <a href="{% url 'albums_detail_page' artist_name=artist_detail.username album_name=album.0 %}" class="item-media-content" style="background-image: url('{{ album.1 }}');"></a>
                                </div>
                                <div class="item-info">
                                    <div class="item-title text-ellipsis">
                                        <a href="{{ album.0 }}">{{ album.0 }}</a>
                                    </div>
                                    <div class="item-meta text-sm text-muted">
                                        <span class="item-meta-stats text-xs ">
                                            <i class="fa fa-play text-muted"></i> 200 
                                            <i class="fa fa-heart m-l-sm text-muted"></i> 510
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No albums loaded</p>
                    {% endif %}
                </div>
                <a href="#" class="btn btn-sm white rounded">Show More</a>
              </div>
              <div class="tab-pane" id="tab_2">
                <div class="row m-b">
                    {% if music_detail %}
                        {% for track in music_detail %}
                            <div class="col-xs-4 col-sm-4 col-md-3">
                                <div class="item r" data-id="{{ track.id }}" data-src="{{ track.audio.url }}">
                                    <div class="item-media ">
                                        <a href="#" class="item-media-content" style="background-image: url('{{track.picture.url}}');"></a>
                                        <div class="item-overlay center">
                                            <button  class="btn-playpause">Play</button>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-overlay bottom text-right">
                                            <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                            <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                            <div class="dropdown-menu pull-right black lt"></div>
                                        </div>
                                        <div class="block clearfix m-b" style="position: absolute; right: 0;">
                                          <a class="btn btn-xs rounded white" >{{ track.genre }}</a>
                                        </div>
                                        <div class="item-title text-ellipsis">
                                            <a href="#">{{ track.name }}</a>
                                        </div>
                                        <div class="item-author text-sm text-ellipsis">
                                            <a href="#" class="text-muted">{{ track.band }}</a>
                                        </div>
                                        <div class="item-meta text-sm text-muted">
                                          <span class="item-meta-stats text-xs">
                                              <button type="submit"> 
                                                <i class="fa fa-play text-muted"></i> 30
                                              </button>
                                              {% include 'add_like_blog.html' with song_post_id=track.id %}
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No tracks loaded</p>
                    {% endif %}
                </div>
                <a href="#" class="btn btn-sm white rounded">Show More</a>
              </div>
              <div class="tab-pane" id="tab_3">
                <div class="row-col m-b">
                  <div class="col-xs w-xs text-muted">Location</div>
                  <div class="col-xs">UK</div>
                </div>
                <div class="row-col m-b">
                  <div class="col-xs w-xs text-muted">Website</div>
                  <div class="col-xs"><a href="http://rachel-platten.com">http://rachel-platten.com</a></div>
                </div>
                <div class="row-col m-b">
                  <div class="col-xs w-xs text-muted"></div>
                  <div class="col-xs">
                      <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook indigo"></i>
                      </a>
                      <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-twitter light-blue"></i>
                      </a>
                      <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                        <i class="fa fa-google-plus"></i>
                        <i class="fa fa-google-plus red"></i>
                      </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>