<div class="app-body" id="view">
    <div class="page-content">
      <div class="row-col">
        <div class="col-lg-9 b-r no-border-md">
          <div class="padding">
            <div class="page-title m-b">
              <h1 class="inline m-a-0">Browse</h1>
              <div class="dropdown inline">
                <button class="btn btn-sm no-bg h4 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">
                  {% if genre_now == 'All' %}
                    {{ genre_now }}
                  {% else %}
                    {{ genre_now.name }}
                  {% endif %}
                </button>
                <div class="dropdown-menu">
                  {% if genre_now != 'All' %}
                    <a href="{% url 'browse_page' genre_name='all' %}" class="dropdown-item active">
                      All
                    </a>
                  {% endif %}
                  {% for genre in genres_list %}
                    {% if genre_now.name != genre.name %}
                      <a href="{% url 'browse_page' genre_name=genre.name %}" class="dropdown-item">
                        {{ genre.name }}
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div data-ui-jp="jscroll" class="jscroll-loading-center" data-ui-options="{
                autoTrigger: true,
                loadingHtml: '<i class=\'fa fa-refresh fa-spin text-md text-muted\'></i>',
                padding: 50,
                nextSelector: 'a.jscroll-next:last'
              }">
              <div class="row">
                {% if music_list %}
                  {% for track in music_list %}
                    <div class="col-xs-4 col-sm-4 col-md-3">
                        <div class="item r" data-id="{{ track.id }}" data-src="{{ track.audio.url }}">
                          <div class="item-media ">
                            <a href="" class="item-media-content" style="background-image: url('{{track.picture.url}}');"></a>
                            <div class="item-overlay center">
                              <button  class="btn-playpause">Play</button>
                            </div>
                          </div>
                          <div class="item-info">
                            <div class="bottom text-right">
                              <div>{% include 'add_to_playlist.html' with song_post_id=track.id songplaylist_form=songplaylist_form %}</div>
                              <div>{% include 'add_like.html' with song_post_id=track.id %}</div>
                              <div><i class="fa fa-play text-muted"></i> {{ track.counter }}</div>
                            </div>
                            {% if genre_now == 'All' %}
                              <div class="block clearfix m-b" style="position: absolute; right: 0;">
                                <a class="btn btn-xs rounded white" href="{% url 'browse_page' genre_name=track.genre %}">{{ track.genre }}</a>
                              </div>
                            {% endif %}
                            <div class="item-title text-ellipsis">
                              <a href="">{{ track.name }}</a>
                            </div>
                            <div class="item-author text-sm text-ellipsis ">
                              <a href="{% url 'artists_detail_page' artist_name=track.band %}" class="text-muted">{{ track.band }}</a>
                            </div>
                          </div>
                        </div>
                    </div>
                  {% endfor %}
                {% else %}
                      <p>No tracks loaded</p>
                {% endif %}
              </div>
              <div class="text-center">
                <a href="" class="btn btn-sm white rounded">Show More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>