<div class="app-body" id="view">
    <div class="page-content">
        <div class="row-col">
            <div class="col-lg-9 b-r no-border-md">
                <div class="padding">
                
                <div class="page-title m-b">
                    <h1 class="inline m-a-0">Charts</h1>
                    <div class="dropdown inline">
                        <button class="btn btn-sm no-bg h4 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">
                            {{ chart_now }}
                        </button>
                            <div class="dropdown-menu">
                                {% if chart_now != 'All the time' %}
                                    <a href="{% url 'charts_page' chart_name='all_the_time' %}" class="dropdown-item active">
                                        All the time
                                    </a>
                                {% endif %}
                                {% if chart_now != 'Last week' %}
                                    <a href="{% url 'charts_page' chart_name='last_week' %}" class="dropdown-item">
                                        Last week
                                    </a>
                                {% endif %}
                                {% if chart_now != 'Last month' %}
                                    <a href="{% url 'charts_page' chart_name='last_month' %}" class="dropdown-item">
                                        Last month
                                    </a>
                                {% endif %}
                                {% if chart_now != 'Last year' %}
                                    <a href="{% url 'charts_page' chart_name='last_year' %}" class="dropdown-item">
                                        Last year
                                    </a>
                                {% endif %}
                            </div>
                    </div>
                </div>
                <div class="row item-list item-list-md item-list-li m-b">
                    {% for track in charts_list %}    
                        <div class="col-xs-12">
                            <div class="item r" data-id="{{ track.id }}" data-src="{{ track.audio.url }}">
                                <div class="item-media ">
                                    <a href="" class="item-media-content" style="background-image: url('{{track.picture.url}}');"></a>
                                    <div class="item-overlay center">
                                        <button  class="btn-playpause">Play</button>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="item-overlay bottom text-right">
                                        <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                        <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                        <div class="dropdown-menu pull-right black lt"></div>
                                    </div>
                                    <div class="item-title text-ellipsis">
                                        <a href="">{{ track.name }}</a>
                                    </div>
                                    <div class="item-author text-sm text-ellipsis ">
                                        <a href="" class="text-muted">{{ track.band }}</a>
                                    </div>
                                    <div class="item-meta text-sm text-muted">
                                        <span class="item-meta-category"><a href="{% url 'browse_page' genre_name=track.genre %}" class="label">{{ track.genre }}</a></span>
                                        <span class="item-meta-date text-xs">{{ track.post_date }}</span>
                                    </div>
                                    <div class="item-meta text-sm text-muted">
                                        <span class="item-meta-stats text-xs  item-meta-right">
                                            <button type="submit"> 
                                                <i class="fa fa-play text-muted"></i> 860
                                            </button> 
                                            {% include 'add_like.html' with song_post_id=track.id %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>