<div class="app-body" id="view">
    <div class="page-content">
        <div class="row-col">
            <div class="col-lg-9 b-r no-border-md">
                <div class="padding">
                    <div class="padding b-b">
                        <div class="row-col">
                            <div class="col-sm w w-auto-xs m-b">
                                <div class="item w rounded">
                                    <div class="item-media">
                                        <div class="item-media-content" style="background-image: url('{{ playlist.picture.url }}');"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="p-l-md no-padding-xs">
                                    <h1 class="page-title">
                                        <span class="h1 _800">{{ playlist.name }}</span>
                                        <span class="h5 _800" style="color: grey"> by {{ user_name }}</span>
                                    </h1>
                                    <div class="block clearfix m-b">
                                        <span class="text-muted">{{ songs_count }} Tracks</span>
                                    </div>
                                    <div class="block clearfix m-b">
                                        {% for genre in genres_set %}
                                            <a class="btn btn-xs rounded white" href="{% url 'browse_page' genre_name=genre %}">{{ genre }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row item-list item-list-md item-list-li m-b">
                        {% for track in playlist_list %}
                            <div class="col-xs-12">
                                <div class="item r" data-id="{{ track.id }}" data-src="{{ track.audio.url }}">
                                    <div class="item-media ">
                                        <a href="{% url 'song_detail_page' post_author=track.post_author band_name=track.band song_name=track.name %}" class="item-media-content" style="background-image: url('{{track.picture.url}}');"></a>
                                        <div class="item-overlay center">
                                            <button  class="btn-playpause">Play</button>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="bottom text-right">
                                            <div>{% include 'add_to_playlist.html' with song_post_id=track.id songplaylist_form=songplaylist_form %}</div>
                                            <div>{% include 'add_like.html' with song_post_id=track.id %}</div>
                                            <div><i class="fa fa-play text-muted"></i> {{ track.counter }}</div>
                                        </div>
                                        <div class="item-title text-ellipsis">
                                            <a href="{% url 'song_detail_page' post_author=track.post_author band_name=track.band song_name=track.name %}">{{ track.name }}</a>
                                        </div>
                                        <div class="item-author text-sm text-ellipsis ">
                                            <a href="{% url 'artists_detail_page' artist_name=track.band %}" class="text-muted">{{ track.band }}</a>
                                        </div>
                                        <div class="item-meta text-sm text-muted">
                                            <span class="item-meta-category"><a href="{% url 'browse_page' genre_name=track.genre %}" class="label">{{ track.genre }}</a></span>
                                            <span class="item-meta-date text-xs">{{ track.post_date }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>